<div class="large-4 columns">
  <img src='http://www.onlinecathy.com/wp-content/uploads/003-stupid-blonde.jpg'>
</div>
<div class="row">
  <h1>Edit Your "Girlfriend"</h1>
  <div class="small-6 large-8 columns">
    <%= render 'form' %>
  </div>

  <%= link_to 'Show', @my_girlfriend %> |
  <%= link_to 'Back', my_girlfriends_path %>
  </div>
</div>